In [30]:
bachelorette_rows = []
for line in open ('bachelorette.csv'): 
    cleaned_line = line.strip()                        #removes whitespace characters
    cleaned_list = cleaned_line.split(",")             #creates a list of strings for each line
    if cleaned_list[0] == 'Bachelorette':
       bachelorette_rows.append(cleaned_list)          #adding the cleaned list to bachelorette_rows

In [31]:
import pandas as pd                            
bachelorette = pd.read_csv('bachelorette.csv')          #reads the csv file, organizes it into a table

In [32]:
bachelorette = bachelorette.loc[bachelorette.SHOW == "Bachelorette"]    #selects the rows with Bachelorette (removed bachelor seasons)
print (bachelorette.head())

           SHOW SEASON  CONTESTANT ELIMINATION-1 ELIMINATION-2 ELIMINATION-3  \
1  Bachelorette     13  13_BRYAN_A            R1           NaN           NaN
2  Bachelorette     13  13_PETER_K           NaN             R           NaN
3  Bachelorette     13   13_ERIC_B           NaN           NaN             R
4  Bachelorette     13   13_DEAN_U           NaN             R           NaN
5  Bachelorette     13   13_ADAM_G           NaN           NaN           NaN

  ELIMINATION-4 ELIMINATION-5 ELIMINATION-6 ELIMINATION-7  ... DATES-1  \
1             R             R           NaN             R  ...     NaN
2           NaN           NaN             R             R  ...     NaN
3           NaN           NaN             R             R  ...     NaN
4             R           NaN           NaN             R  ...     NaN
5           NaN           NaN           NaN            ED  ...     NaN

  DATES-2 DATES-3 DATES-4 DATES-5 DATES-6 DATES-7 DATES-8 DATES-9 DATES-10
1     NaN      D6     D13      D1      D7      D1      D1      D1       D1
2      D1      D6     D13      D9      D7      D1      D1      D1       D1
3     D10      D8     D13      D9      D1      D3      D1      D1      NaN
4      D8      D8      D1      D9      D7      D1      D1     NaN      NaN
5     D10      D8     D13      D9      D7      D3     NaN     NaN      NaN

[5 rows x 23 columns]

In [33]:
bachelorette = bachelorette[bachelorette["SHOW"] != "SHOW"]
bachelorette = bachelorette[bachelorette["CONTESTANT"] != "ID"]     #source has multiple headers and need to clean/delete
print (bachelorette.head())

           SHOW SEASON  CONTESTANT ELIMINATION-1 ELIMINATION-2 ELIMINATION-3  \
1  Bachelorette     13  13_BRYAN_A            R1           NaN           NaN
2  Bachelorette     13  13_PETER_K           NaN             R           NaN
3  Bachelorette     13   13_ERIC_B           NaN           NaN             R
4  Bachelorette     13   13_DEAN_U           NaN             R           NaN
5  Bachelorette     13   13_ADAM_G           NaN           NaN           NaN

  ELIMINATION-4 ELIMINATION-5 ELIMINATION-6 ELIMINATION-7  ... DATES-1  \
1             R             R           NaN             R  ...     NaN
2           NaN           NaN             R             R  ...     NaN
3           NaN           NaN             R             R  ...     NaN
4             R           NaN           NaN             R  ...     NaN
5           NaN           NaN           NaN            ED  ...     NaN

  DATES-2 DATES-3 DATES-4 DATES-5 DATES-6 DATES-7 DATES-8 DATES-9 DATES-10
1     NaN      D6     D13      D1      D7      D1      D1      D1       D1
2      D1      D6     D13      D9      D7      D1      D1      D1       D1
3     D10      D8     D13      D9      D1      D3      D1      D1      NaN
4      D8      D8      D1      D9      D7      D1      D1     NaN      NaN
5     D10      D8     D13      D9      D7      D3     NaN     NaN      NaN

[5 rows x 23 columns]

In [34]:
bachelorette = bachelorette.replace([".", "", " "], pd.NA)          # changes missing placeholders to NaN
print(bachelorette.head())

           SHOW SEASON  CONTESTANT ELIMINATION-1 ELIMINATION-2 ELIMINATION-3  \
1  Bachelorette     13  13_BRYAN_A            R1           NaN           NaN
2  Bachelorette     13  13_PETER_K           NaN             R           NaN
3  Bachelorette     13   13_ERIC_B           NaN           NaN             R
4  Bachelorette     13   13_DEAN_U           NaN             R           NaN
5  Bachelorette     13   13_ADAM_G           NaN           NaN           NaN

  ELIMINATION-4 ELIMINATION-5 ELIMINATION-6 ELIMINATION-7  ... DATES-1  \
1             R             R           NaN             R  ...     NaN
2           NaN           NaN             R             R  ...     NaN
3           NaN           NaN             R             R  ...     NaN
4             R           NaN           NaN             R  ...     NaN
5           NaN           NaN           NaN            ED  ...     NaN

  DATES-2 DATES-3  DATES-4 DATES-5 DATES-6 DATES-7 DATES-8 DATES-9 DATES-10
1     NaN      D6      D13      D1      D7      D1      D1      D1       D1
2      D1      D6      D13      D9      D7      D1      D1      D1       D1
3     D10      D8      D13      D9      D1      D3      D1      D1      NaN
4      D8      D8       D1      D9      D7      D1      D1     NaN      NaN
5     D10      D8      D13      D9      D7      D3     NaN     NaN      NaN

[5 rows x 23 columns]

C:\Users\Mg3mc\AppData\Local\Temp\ipykernel_16268\3781671892.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bachelorette = bachelorette.replace([".", "", " "], pd.NA)          # changes missing placeholders to NaN

In [35]:
date_columns = [f"DATES-{i}" for i in range(1, 11)]   #list of the DATES column names
print(date_columns)

['DATES-1', 'DATES-2', 'DATES-3', 'DATES-4', 'DATES-5', 'DATES-6', 'DATES-7', 'DATES-8', 'DATES-9', 'DATES-10']

In [40]:
bachelorette["first_1on1"] = False   # initialize column to False

In [57]:
seasons = sorted(bachelorette["SEASON"].unique())     #loops through each season

for season in seasons:                                #loop goes through each season at a time
    print("Season", season)

    season_data = bachelorette[bachelorette["SEASON"] == season]    #uses data from this season only

    first_week = None
    week_number = 1   # initialize the week, start at 1

    for column in date_columns:
        if column not in season_data.columns:        # Skips columns that are missing for this season
            week_number +=1 
        else: 
            if (season_data[column] == "D1").any():   # check if any contestant got 1-on-1 that week
                first_week = week_number               # track the week number
                break                                  # stop because we found the first 1-on-1
            week_number = week_number + 1              # increase the counter

    if first_week is not None:
        first_column = f"DATES-{first_week}"
        first_names = season_data.loc[season_data[first_column] == "D1", "CONTESTANT"]        #showing the specific contestants who got a 1-on-1
        #print(first_names)
        bachelorette.loc[(bachelorette["SEASON"] == season) & (bachelorette["CONTESTANT"].isin(first_names)), "first_1on1"] = True   #puts contestants who got 1-on-1 for each season in the data frame, isin creates a boolean list, found on pandas.py.org
        print("First 1-on-1 contestant(s):", first_names.tolist())            #turns the series into a list, found on pandas.py.org
    else:
        print("No 1-on-1 found for this season")

Season 01
First 1-on-1 contestant(s): ['01_RYAN_S', '01_CHARLIE_M', '01_RUSS_X']
Season 02
First 1-on-1 contestant(s): ['02_RICK_X']
Season 03
First 1-on-1 contestant(s): ['03_KEITH']
Season 04
First 1-on-1 contestant(s): ['04_GRAHAM_B']
Season 05
First 1-on-1 contestant(s): ['05_JAKE_P']
Season 06
First 1-on-1 contestant(s): ['06_FRANK_N', '06_JESSE_B']
Season 07
First 1-on-1 contestant(s): ['07_RYAN_M', '07_WILLIAM_H']
Season 08
First 1-on-1 contestant(s): ['08_RYAN_B', '08_JOE_G']
Season 09
First 1-on-1 contestant(s): ['09_BROOKS_F', '09_BRYDEN_V']
Season 10
First 1-on-1 contestant(s): ['10_CHRIS_S', '10_ERIC_H']
Season 11
First 1-on-1 contestant(s): ['11_CLINT_A']
Season 12
First 1-on-1 contestant(s): ['12_DEREK_P']
Season 13
First 1-on-1 contestant(s): ['13_PETER_K']